body{
  padding: 0px;
  margin: 0px;
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, span {
  font-family: 'ZCOOL KuaiLe', cursive;
  margin-bottom: 5px;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img{
  width: 100%;
}

.com-heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn{
  height: 40px;
  width: 40px;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #3a89ed;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition-duration: 0.25s;
  outline: none;
}

.btn:hover {
  background-color: #1975ee;

}

#num-btn-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  
}

#calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  background-color: lightblue;
  padding: 10px;
  padding-top: 5px;
  border: 2px solid orange;
  border-style: outset;
}

#screen {
  height: 60px;
  border: 2px solid orangered;
  width: 100%;
  margin-bottom: 5px;
  background-color: whitesmoke;
}

#operation-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 5px;
}

.op-btn {
  background-color: yellow;
  transition-duration: 0.25s;
  color: black;
}

.op-btn:hover {
  background-color: lightgreen;
}